<header class="header">
    <div role=”banner” class="header__logo">
        <a href="https://adalab.es/" target="_blank"><img src="assets/images/logo-adalab.svg" alt="Adalab logo"
                class="header__logo"></a>
    </div>
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item"><a href="http://medium.com/adalab" target="_blank"
                    class="header__menu-link">blog</a></li>
            <li class="header__menu-item"><a href="http://adalab.es/contacto.html" target="_blank"
                    class="header__menu-link">contacto</a></li>
        </ul>
    </nav>

</header>