.footer{
    background-color:$color-footer;
    color:$color-general;
    width: 100%;
    height:5.625rem;
    position:fixed;
    bottom: 0;
    text-align: center;

    &__copy{
        display:inline-block;
        margin:34px 0 37px 0;
    }
}