.header{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
   
   &__logo{
       width: 154.5px;
       height: 60px;
   }
    &__nav{
        width: 154.5px;
    }
    &__menu{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        &-item{
            list-style: none;
            text-transform: uppercase;
            padding:10px 0px 13px;
        }

        &-link{
                color:$color-general;
                padding:inherit;  
            }
        }
    }
