/*<--->Color variables <--->*/

$color-white:#ffffff;
$color-general:#4a4a4a;
$color-hover:#14d9c4;
$color-footer:#252525;

/*<--->Font variables <--->*/

$font-general:'Rubik', sans-serif;
$font-weightb:700;
$font-sizesm:1rem;
$font-sizeme:1.875rem;
$font-sizelg:3.75rem;